@import '~antd/es/style/themes/default.less';

.main {
  width: 300px;
  margin-right: 100px;
  // margin: 0 auto;
  float: right;
  background-color: #fff;
  padding: 30px;
  margin-top: 10%;
  border-radius: 10px;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
    
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }

  :global {
    .antd-pro-login-submit {
      width: 100%;
      margin-top: 24px;
    }
  }
}
