@import '~antd/es/style/themes/default.less';

.rowcls {
    background-color: #fff;
    padding: 15px
}

.siteCardWrapper {
    background: #ececec;
    padding: 15px;
  }

  .progressBarContent {
    text-align:center;
    font-weight:bold;
    font-size:15px;
    margin-top:5px;
  }

  #components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
  }

  #components-dropdown-demo-dropdown-button .ant-btn-group-rtl.ant-dropdown-button {
    margin: 0 0 8px 8px;
  }